@font-face {
  font-family: 'SF Pro';
  src: url('./fonts/SF-Pro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
:root {
  --primary:#06c;
  --white: #FFFF;
  --font: #36454F;
  --light-accent: #b0c4de;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.header {
  background-color: var(--primary); /* Mantine Blue */
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
}
.line {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2vw;
  margin-right:2vw;
  height: 2px;
  background-color: #F0F0F0;
  border-radius: 3px;
}
.logo {
  font-size: 36px;
  font-weight: bold;
  color: var(--white)
}

.nav {
  display: flex;
  align-items: center;
  margin-right:20px;
}

.nav a {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-family: 'SF Pro', sans-serif;
}
.nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 3px;
  width: 0;
  background: var(--white);
}
.nav a:hover::after {
    width: 100%; 
    left: 0; 
}
.nav a:hover {
  color: var(--white)
}
.nav a.active {
  color: var(--white);
}
.nav a.active::after {
  width: 100%; 
  left: 0; 
}
.flex {
  display: flex;
  flex-direction: row; /* Side by side on desktop */
  gap: 20px; /* Add some space between the components */
}
/* Flex children take up equal space */
.flex > * {
  flex: 1;
}
.key-information-block {
  padding:20px;
}
.centered-image {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding:20px;
}
.catch-phrase {
  font-family: 'SF Pro', sans-serif;
  font-size: 48px;
  color: var(--primary);
  padding: 10px 0px;
  font-weight: bold;
}
.subtext {
  font-family: 'SF Pro', sans-serif;
  font-size: 22px;
  color: var(--font);
  margin-top: 20px;
}
.image {
  max-width: 90%;
  height:75%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  border: 10px solid var(--light-accent);

}
.image:hover {
  transform: scale(1.05); /* Enlarge image on hover */
  transform-origin: center; /* Expand from the center */
}

.footer {
  width: 100vw;
  height: 100px;
  background-color: var(--primary);
  padding: 0 60px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space between items */
}

.footer-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Make it a circle */
  border: 1px solid #b0c4de; /* Border color */
  background-color: #1371e0
  ; /* Slightly different blue color */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; /* Smooth transition */
}
.footer-icon:hover {
  transform: scale(.9); /* Enlarge image on hover */
  transform-origin: center; /* Expand from the center */
  background-color: black;
}
.footer-icons {
  display: flex;
  gap: 20px; /* Space between icons */
  height: 100px;
  align-items: center; /* Center vertically */

}
.footer-icon img {
  width: 60%;
  height: auto;
}
.demo {
  height: auto;
  background-color: var(--primary);
  clip-path: polygon(0% 0%, 100% 80px, 100% 100%, 0% 100%);
  padding: 40px 20px 0px 20px;
}
.divider {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right:0;
  height: 2px;
  background-color: #F0F0F0;
  border-radius: 3px;
}
.statistics {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between; /* Space between items */
  margin-top: 20px;
}
.stat-label {
  font-size: 18px;
  font-family: 'SF Pro', sans-serif;
  color: var(--font)

}
.statistic {
  color: var(--primary)
}
.demo-card {
  height: 400px;
  width: 300px;
  background-color: var(--white);
  border-radius:10px;
  overflow: hidden;
}
.demo-cards-container {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Side by side on desktop */
  padding:0px 20px;
  gap:100px;
}

.demo-card .card-header {
  background-color: #FF9800;
  color:var(--white);
  height:60px;
}